/*!
Theme Name: Allgo.org
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0-wpcom
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: custom-theme
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 custom-theme is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

//Import partials into this file

//Utilities
@import "_partials/_utilities/_reset.scss";
@import "_partials/_utilities/_variables.scss";
@import "_partials/_utilities/_mixins.scss";

//Elements
@import "_partials/_elements/_forms.scss";
@import "_partials/_elements/_icons.scss";
@import "_partials/_elements/_lists.scss";
@import "_partials/_elements/_tables.scss";
@import "_partials/_elements/_text.scss";

//Blocks
@import "_partials/_blocks/_breadcrumbs.scss";

//Color Pallette 
$primary: #6e3f2f; //brown
$complimentary: #cdcf5b; //green
$secondary: #b35400; //reddish brown
$light-neutral: #ffef97; //yellow
$mid-neutral: #e1e1e1;  //skip to nav grey
$dark-neutral: #333333; //dark grey/text color
$wrap: 940px;


//Mixin for Border radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin clearfix{
  overflow: auto;
  zoom: 1;
}

//Mixin for wrap width and centered content
@mixin wrap($val: $wrap) {
  margin: auto;
  max-width: $val;
  @include clearfix;
}


//May use alt font for banner images...
//@import url(http://fonts.googleapis.com/css?family=Lato:700);


/* GLOBAL STYLES */


.clearfix {
  @include clearfix;
}

.clear {
  clear: both;
}

body {
  font-family: "Calibri", sans-serif;
  color: $dark-neutral;
  font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

a, a:link, a:hover, a:active, a:visited {
  color: $secondary;
}

blockquote, q {
  color: $primary;
  font-size: 18px;
  font-weight: lighter;
  font-style: italic;
   quotes: "“" "”" "‘" "’";
}

blockquote:before, q:before {
  content: open-quote;
  display: inline-block;
}

blockquote:after, q:after {
  content: close-quote;
  display: inline-block;
}

blockquote p {
display: inline;
}

.alignright, .alignleft {
  margin-bottom: 1em;  
  width: 100%;
  display: block;
  clear: both;
  @include breakpoint(sm) {
    display: inline;
    margin-left: 1.5em;
    width: auto;
  }
}

.alignleft{
  @include breakpoint(sm) {
    float: left;
  }
}

.alignright{
  @include breakpoint(sm) {
    float: right;
  }
}


body p a:link {
  color: $secondary;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"]{
  @include border-radius(20px);

}

button, input[type="button"], input[type="reset"], input[type="submit"], a.button, .wp-polls .Buttons {
  background: $primary;
  color: #fff !important;
  text-transform: uppercase;
  @include border-radius(20px);
  box-shadow: none;
  border: none;
  text-shadow: none;
  text-decoration: none;
  padding: 20px; //Mobile padding
  @include breakpoint(md){
    padding: 10px 15px; //Desktop padding
  }
}

.subscribe input[type="email"], .subscribe input[type="text"] {
    height: 36px;
  width: 100%;
  &.invalid {
    border-color: red !important; 
  }
  @include breakpoint(md){
    height:auto;
    width: auto;
  }
}

  .error {
    color: red;
    display: block;
    margin: 10px 0 0;
    text-align: center;
    opacity: 1;
    transition:opacity 0.5s linear;
    &.inactive {
      opacity: 0;
    }
  }



.subscribe input[type="submit"] {
  margin: 10px auto;
  display: block;
  @include breakpoint(md){
    margin: 0;
    display: inline-block;
  }
}



button, input[type="button"], input[type="reset"], input[type="submit"], a.button {

}



nav button.toggle {
  background: inherit;
  @include border-radius(0);
}


button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
border-color: none;
box-shadow: none;
}

.wrap {
  @include wrap(90%); 
    @include breakpoint(md){
      @include wrap;
    }
    //@mixin container-fixed('10px');
}

/* HEADER */


/* Site Navigation */

header .wrap {
  @include breakpoint(md){
    @include wrap; //Desktop
  }
  @include wrap(100%);
}

header nav.main-navigation {
  color: #fff;
  background: $complimentary;

  li {
    @include breakpoint(md) { //Desktop
      float: left;
    }
     a {
      color: #fff;
      text-decoration: underline;
      padding: 15px 10px;
      @include breakpoint(600px) { //Desktop
        color: #000;
        &:hover {
          background: $light-neutral;
        }// end a:hover
      }// end desktop
    }// end nav.main-navigation li a
    &.current_page_item a, &.current-menu-item a, &.current-page-ancestor a, &.current-menu-ancestor a {
        @include breakpoint(md) {
          background: $primary;
          text-decoration: none;
          color: #fff;
          }// end desktop
      }//end li.current_page_item li a
  }//end nav.main-navigation li
  button.menu-toggle{
    background: inherit; 
    color: $dark-neutral !important;;
    display: block;
    float: left;
    @include breakpoint(600px){
      display: none;
    }
  }// end.main-navigation button
  &.toggled {

    ul.nav-menu {
        float: left;
        color: #333;
        z-index: 100;
        position: fixed;
        top: 76px;
        width: 75%;
        left: 0;
        background: $primary;
        @include breakpoint(md) { //Desktop
          position: static;
          background: inherit;
        }
        li {
            display: block;
            float: none;
            @include breakpoint(md) { //Desktop
              float: left;
            }
        }// .main-navigation.toggled .nav-menu ul li
      }//end .main-navigation.toggled .nav-menu
      button.menu-toggle{
        @include border-radius(0);
        background: $primary; 
        color: #fff !important;
        display: block;
        float: left;
      }// end.main-navigation.toggled button
    }//end .main-navigation.toggled
}//end nav.main-navigation

///////////////////////////////////////////////////////////////


/* Search Form in Header */

header form {
  float: right;
  color: #333;
  padding: 20px 20px 20px 0;
  @include breakpoint(md){
    padding: 10px 0;
  }
  
  i.fa {
    font-size: 20px;
  }

  input[type="submit"]:focus {
    color: #fff;
  }

  button[type="submit"] {
    color: $dark-neutral !important;
    background: $complimentary;
    padding: 5px;
  }
}

 ///////////////////////////////////////////////////////////////



/* Site Branding */
.site-branding {
  margin-top: 20px;
  text-align: center;
  text-transform: lowercase;
  
  a {
    color: $primary;
    text-decoration: none;
  }

  img {
    width: 300px;
  }
  .site-description {
    line-height: 20px;
    margin-bottom: 20px;
    color: $primary;
    font-weight: 300;
    font-size: 22px;
    margin-top: -6px;
  }
}



 ///////////////////////////////////////////////////////////////


/* Subscribe Block */
.subscribe {
  background: $light-neutral;
  color: $primary;
  width: 100%;
  @include border-radius(20px);
  width: 100%;
  padding: 20px;

  .subscribe-content {
    @include breakpoint($wrap) {
      width: 90%;
      margin: auto;
    }

    i {
      margin-right: 10px;
    }

    p {
      float: left;
      font-size: 18px;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}

p.success.cc_success, .success {
  margin-top: 0 !important;
  color: green;
  font-size: 2em;
  margin-bottom: .5em;
}
 ///////////////////////////////////////////////////////////////


/* Event Banner */
#next-event {  
  @include border-radius(20px);
      overflow: hidden;
    position: relative;
    width: 100%;
  height: auto;
  background-color: #000;
}

#next-event .event-text {
  display: block;
  background: #000;
  color: #fff;
  width: 100%;
  float: left;
  padding: 20px;
  z-index: 100;
}

#next-event h1, #next-event h2, #next-event h3, #next-event h4 {
  font-family: "Lato", sans-serif;
}

h1.event-title {
  text-transform: uppercase;
  font-size:22px;
  text-decoration: none;
}

#next-event h3, #next-event h4 {
  display: inline-block;
}

#next-event h4 {
  text-decoration: underline;
}

#next-event a.event-img {
  float: none;
  width: 100%;
  display: block;
  height: 100px;
  background: url('event-photo.png') no-repeat top right;
  background-size: cover;
}



//Desktop
  #next-event .event-text {
    display: block;
    background: #000;
    color: #fff;
    width: 400px;
    float: left;
    padding: 20px;
    z-index: 100;
  }

  #next-event h1, #next-event h2, #next-event h3, #next-event h4 {
    font-family: "Lato", sans-serif;
  }

  h1.event-title {
    text-transform: uppercase;
    font-size:22px;
    text-decoration: none;
  }

  #next-event h3, #next-event h4 {
    display: inline-block;
  }

  #next-event h4 {
    text-decoration: underline;
  }

  #next-event a.event-img {
    float: right;
    width: 500px;
    display: block;
        height: 100%;
      position: absolute;
      right: 0;
    background: url('event-photo.png') no-repeat top right;
    background-size: cover;
  }

//////////////////////////////////////////////////////

/* Features Block */

#home-features {
  display: block;
  margin: 20px 0;

  a.feature-block {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background: $primary;
    display: block;
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
    @include breakpoint(md){ 
      //desktop
      //@include three-column($wrap, 7px);
      width: (100%/3) - 1 ;
      margin-right: 1%;
      float: left;
      height: 395px;
      &:last-of-type {
        margin-right: 0;
      }
    }

    .link-text{
      background: $secondary;
      color: #fff;
      padding: 10px 0;
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      margin: 0;
    }
  }

}

 ///////////////////////////////////////////////////////////////



/* Page Content */
#page-content {
    width: 100%;
    float: none;
    border-right: 0;
    padding-right: 0;
    margin-bottom: 2em;
  @include breakpoint(md){
    width: (100%/3)*2 - 1;
    float: left;
    padding-right: 1%;
  }
  @include breakpoint($wrap){
    padding-right: 20px;
    width: $wrap/3*2 - 20;
    float: left;
    border-right: solid 1px $complimentary;
  }
}

#sidebar {
  @include breakpoint(md){
    width: (100%/3) - 1;
    float: left;
    padding-left: 1%;
  }
  @include breakpoint($wrap){
    width: $wrap/3 - 20;
    padding-left: 20px;
  }
  .sidebar-top {
    background: $complimentary;
    display: block;
    font-size: .9em;
    padding: 20px;
    @include border-radius(20px);
  }
  aside {
    padding-bottom: 1em;
    border-bottom: solid 1px $complimentary;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.entry-title a {
  font-size: 40px;
  color: $dark-neutral;
  font-weight: bold;
  text-decoration: none;
}

.entry-content {
  margin-top: 10px;
}

.allgoboard { 
  clear: both; 
  padding-top: 2em; 
    p { font-style: italic; 
  }
  ul { 
    margin-left: 0; 
    li { 
      clear: both; 
      margin-left: 0; 
      padding-bottom: 2em; 
      list-style-type: none; 
      img {
        padding-bottom: 2em; 
      }
    }
  }
}


 ///////////////////////////////////////////////////////////////


/* Sidebar and Secondary */

#secondary {
  margin-top: 20px;
  aside {
    background: $complimentary;
    height: 330px;
    display: block;
    font-size: 1.1em;
    padding: 20px;
    @include border-radius(20px);
    @include breakpoint($wrap){
      width: 301px;
      margin-right: 18px !important;
      float: left;
      &:last-child {
        margin-right: 0 !important;
      }
    }
    a, a:hover, a:link, a:visited, a:active {
      color: $dark-neutral;
    }
    h3 {
      //text-transform: uppercase;
      font-size: 1.3em;
    }
  }
}


/* Polls */
.wp-polls {
  p {
    margin-bottom: 1em;
  }
  
  .poll-choices {
    margin-bottom: 1em;
    padding: 4px;
  }

  .pollbar {
    background: $primary;
    background-image: none;
  }
}



///////////////////////////////////////////////////
/* Contact Info */

.contactinfo {
  h2 { font-size: 1.5em; }
  p { margin-left: 2em; }
}

///////////////////////////////////////////////////

/* FOOTER */

/*Footer*/
footer.site-footer {
  margin-top: 2em;
  background: $primary;
  color: #fff;
  padding: 20px 0 40px;
  
  a:link, footer.site-footer p a:link, footer.site-footer a:visited, footer.site-footer p a:visited {
    color: #fff;
  }
  
  .social ul {
    padding: 0;
    margin: 0;
    text-align: right;
    
     li {
      list-style-type: none;
      float: right;
         a {
            display: inline-block;
            text-align: right;
            list-style-type: none;
            background-color: #fff;
            color: $primary;
            width: 50px;
            height: 50px;
            float: left;
            margin: 4px;
            @include border-radius(50px);
            text-align: center;
            vertical-align: middle;
            i {
              font-size: 30px;
              margin-top: 10px;
            }
          a:hover {
            background: $complimentary;
          }
        }
      }
    }
  }

  footer .site-info {
    @include breakpoint(md){
      float: left;
      width: 460px;
    }
  }

  .site-info p {
    @include breakpoint(md){
      margin-bottom: 0;
    }
  }

  footer .social {
    @include breakpoint(md){
      float: right;
      width: 400px;
   }
  }

