/*!
Theme Name: Allgo.org
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0-wpcom
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: custom-theme
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 custom-theme is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/*
Theme Name: custom-theme
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0-wpcom
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: custom-theme
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 custom-theme is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
  5.1 Links
  5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
  10.1 Posts and pages
  10.2 Asides
  10.3 Comments
11.0 Infinite scroll
12.0 Media
  12.1 Captions
  12.2 Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
/* line 58, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

/* line 70, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  box-sizing: border-box;
  /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */ }

/* line 79, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
*, *:before, *:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

/* line 83, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

/* line 96, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block; }

/* line 101, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
ol, ul {
  list-style: none; }

/* line 105, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

/* line 112, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
caption, th, td {
  font-weight: normal;
  text-align: left; }

/* line 119, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

/* line 124, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
blockquote, q {
  quotes: "" ""; }

/* line 128, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
a:focus {
  outline: thin dotted; }

/* line 133, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
a:hover, a:active {
  outline: 0; }

/* line 137, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
a img {
  border: 0; }

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
/* line 148, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
body, button, input, select, textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5; }

/* line 161, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  clear: both; }

/* line 165, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
p {
  margin-bottom: 1.5em; }

/* line 170, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
b, strong {
  font-weight: bold; }

/* line 177, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
dfn, cite, em, i {
  font-style: italic; }

/* line 181, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
blockquote {
  margin: 0 1.5em; }

/* line 185, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
address {
  margin: 0 0 1.5em; }

/* line 189, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

/* line 204, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 1.5rem; }

/* line 211, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

/* line 217, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
mark, ins {
  background: #fff9c0;
  text-decoration: none; }

/* line 223, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
sup, sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 231, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
sup {
  bottom: 1ex; }

/* line 235, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
sub {
  top: 0.5ex; }

/* line 239, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
small {
  font-size: 75%; }

/* line 243, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
big {
  font-size: 125%; }

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
/* line 250, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

/* line 258, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
ul, ol {
  margin: 0 0 1.5em 3em; }

/* line 262, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
ul {
  list-style: disc; }

/* line 266, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
ol {
  list-style: decimal; }

/* line 271, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

/* line 276, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
dt {
  font-weight: bold; }

/* line 280, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
dd {
  margin: 0 1.5em 1.5em; }

/* line 284, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

/* line 289, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
figure {
  margin: 0; }

/* line 293, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
table {
  margin: 0 0 1.5em;
  width: 100%; }

/* line 298, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
th {
  font-weight: bold; }

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
/* line 308, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */ }

/* line 317, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

/* line 336, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }

/* line 348, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

/* line 354, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

/* line 358, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  box-sizing: content-box; }

/* line 363, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

/* line 372, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }

/* line 383, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
  color: #111; }

/* line 391, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
  padding: 3px; }

/* line 395, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%; }

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
/* line 408, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
a {
  color: royalblue; }

/* line 412, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
a:visited {
  color: purple; }

/* line 418, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
a:hover, a:focus, a:active {
  color: midnightblue; }

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
/* line 425, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }

/* line 432, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0; }

/* line 438, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.main-navigation li {
  float: left;
  position: relative; }

/* line 443, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.main-navigation a {
  display: block;
  text-decoration: none; }

/* line 448, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999; }

/* line 457, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.main-navigation ul ul ul {
  left: -999em;
  top: 0; }

/* line 462, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.main-navigation ul ul a {
  width: 200px; }

/* line 479, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.main-navigation ul li:hover > ul {
  left: auto; }

/* line 483, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.main-navigation ul ul li:hover > ul {
  left: 100%; }

/* Small menu */
/* line 493, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.menu-toggle {
  display: none; }

@media screen and (max-width: 600px) {
  /* line 499, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
  .menu-toggle, .main-navigation.toggled .nav-menu {
    display: block; }

  /* line 503, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
  .main-navigation ul {
    display: none; }
 }

/* line 510, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.site-main .comment-navigation, .site-main .paging-navigation, .site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

/* line 517, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.comment-navigation .nav-previous, .paging-navigation .nav-previous, .post-navigation .nav-previous {
  float: left;
  width: 50%; }

/* line 524, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.comment-navigation .nav-next, .paging-navigation .nav-next, .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
/* line 534, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

/* line 544, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
/* line 567, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

/* line 573, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

/* line 579, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
/* line 599, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
  content: "";
  display: table; }

/* line 609, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
/* line 616, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.widget {
  margin: 0 0 1.5em; }

/* Make sure select elements fit in widgets */
/* line 621, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.widget select {
  max-width: 100%; }

/* Search widget */
/* line 626, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.widget_search .search-submit {
  display: none; }

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
/* line 636, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.sticky {
  display: block; }

/* line 640, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.hentry {
  margin: 0 0 1.5em; }

/* line 645, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.byline, .updated:not(.published) {
  display: none; }

/* line 650, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.single .byline, .group-blog .byline {
  display: inline; }

/* line 656, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.page-content, .entry-content, .entry-summary {
  margin: 1.5em 0 0; }

/* line 660, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
/* line 669, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.blog .format-aside .entry-title, .archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
/* line 676, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.comment-content a {
  word-wrap: break-word; }

/* line 680, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* line 689, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.infinite-scroll .paging-navigation, .infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
/* line 694, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
/* line 703, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.page-content img.wp-smiley, .entry-content img.wp-smiley, .comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers */
/* line 713, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
embed, iframe, object {
  max-width: 100%; }

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
/* line 720, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

/* line 725, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto; }

/* line 730, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.wp-caption-text {
  text-align: center; }

/* line 734, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
/* line 741, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.gallery {
  margin-bottom: 1.5em; }

/* line 745, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

/* line 752, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.gallery-columns-2 .gallery-item {
  max-width: 50%; }

/* line 756, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

/* line 760, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.gallery-columns-4 .gallery-item {
  max-width: 25%; }

/* line 764, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.gallery-columns-5 .gallery-item {
  max-width: 20%; }

/* line 768, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

/* line 772, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

/* line 776, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

/* line 780, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

/* line 784, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_utilities/_reset.scss */
.gallery-caption {
  display: block; }

/**
 * Animation mixin.
 *   @param $time
 *     Duration of animation, .4s for example
 *   @param $properties
 *     list of properties to animate separated by commas. color, opacity, for example.
 */
/**
 * breakpoint mixin
 * Outputs media queries with defined min and max width.
 *   @param $min string or valid css width value
 *     Accepts the following as pre-defined breakpoint: xs, sm, md, lg, xl
 *     Alternatively you can supple an arbitrary min-width value, 480px, for example
 *   @param $max 
 *     Valid CSS width value, 768px or 40em for example
 */
/* total with of page */
/* number of columns */
/* margin between columns */
/* math magic */
/* create row div */
/* create a column div */
/* make an element span n columns */
/* the last column in a row needs this */
/* prepend n blank columns  */
/* append n blank columns */
/* line 3, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/_partials/_blocks/_breadcrumbs.scss */
.menu-breadcrumb span > span:last-child a {
  color: #333;
  text-decoration: none; }

/* GLOBAL STYLES */
/* line 79, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.clearfix {
  overflow: auto;
  zoom: 1; }

/* line 83, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.clear {
  clear: both; }

/* line 87, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
body {
  font-family: "Calibri", sans-serif;
  color: #333333;
  font-size: 1.5em; }

/* line 93, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

/* line 97, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
h1 {
  font-size: 3em; }

/* line 101, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
h2 {
  font-size: 2em; }

/* line 105, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
h3 {
  font-size: 1.75em; }

/* line 109, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
h4 {
  font-size: 1.5em; }

/* line 113, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
a, a:link, a:hover, a:active, a:visited {
  color: #b35400; }

/* line 117, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
blockquote, q {
  color: #6e3f2f;
  font-size: 18px;
  font-weight: lighter;
  font-style: italic;
  quotes: "“" "”" "‘" "’"; }

/* line 125, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
blockquote:before, q:before {
  content: open-quote;
  display: inline-block; }

/* line 130, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
blockquote:after, q:after {
  content: close-quote;
  display: inline-block; }

/* line 135, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
blockquote p {
  display: inline; }

/* line 139, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.alignright, .alignleft {
  margin-bottom: 1em;
  width: 100%;
  display: block;
  clear: both; }
  @media (min-width: 480px) {
    .alignright, .alignleft {
      display: inline;
      margin-left: 1.5em;
      width: auto; } }

@media (min-width: 480px) {
  .alignleft {
    float: left; } }

@media (min-width: 480px) {
  .alignright {
    float: right; } }

/* line 164, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
body p a:link {
  color: #b35400; }

/* line 168, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px; }

/* line 173, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
button, input[type="button"], input[type="reset"], input[type="submit"], a.button, .wp-polls .Buttons {
  background: #6e3f2f;
  color: #fff !important;
  text-transform: uppercase;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  box-shadow: none;
  border: none;
  text-shadow: none;
  text-decoration: none;
  padding: 20px; }
  @media (min-width: 768px) {
    button, input[type="button"], input[type="reset"], input[type="submit"], a.button, .wp-polls .Buttons {
      padding: 10px 15px; } }

/* line 188, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.subscribe input[type="email"], .subscribe input[type="text"] {
  height: 36px;
  width: 100%; }
  /* line 191, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  .subscribe input[type="email"].invalid, .subscribe input[type="text"].invalid {
    border-color: red !important; }
  @media (min-width: 768px) {
    .subscribe input[type="email"], .subscribe input[type="text"] {
      height: auto;
      width: auto; } }

/* line 200, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.error {
  color: red;
  display: block;
  margin: 10px 0 0;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s linear; }
  /* line 207, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  .error.inactive {
    opacity: 0; }

/* line 214, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.subscribe input[type="submit"] {
  margin: 10px auto;
  display: block; }
  @media (min-width: 768px) {
    .subscribe input[type="submit"] {
      margin: 0;
      display: inline-block; } }

/* line 231, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
nav button.toggle {
  background: inherit;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

/* line 237, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  border-color: none;
  box-shadow: none; }

/* line 242, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.wrap {
  margin: auto;
  max-width: 90%;
  overflow: auto;
  zoom: 1; }
  @media (min-width: 768px) {
    .wrap {
      margin: auto;
      max-width: 940px;
      overflow: auto;
      zoom: 1; } }

/* HEADER */
/* Site Navigation */
/* line 255, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
header .wrap {
  margin: auto;
  max-width: 100%;
  overflow: auto;
  zoom: 1; }
  @media (min-width: 768px) {
    header .wrap {
      margin: auto;
      max-width: 940px;
      overflow: auto;
      zoom: 1; } }

/* line 262, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
header nav.main-navigation {
  color: #fff;
  background: #cdcf5b; }
  @media (min-width: 768px) {
    header nav.main-navigation li {
      float: left; } }
  /* line 270, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  header nav.main-navigation li a {
    color: #fff;
    text-decoration: underline;
    padding: 15px 10px; }
    @media (min-width: 600px) {
      header nav.main-navigation li a {
        color: #000; }
        /* line 276, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
        header nav.main-navigation li a:hover {
          background: #ffef97; } }
  @media (min-width: 768px) {
    header nav.main-navigation li.current_page_item a, header nav.main-navigation li.current-menu-item a, header nav.main-navigation li.current-page-ancestor a, header nav.main-navigation li.current-menu-ancestor a {
      background: #6e3f2f;
      text-decoration: none;
      color: #fff; } }
  /* line 289, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  header nav.main-navigation button.menu-toggle {
    background: inherit;
    color: #333333 !important;
    display: block;
    float: left; }
    @media (min-width: 600px) {
      header nav.main-navigation button.menu-toggle {
        display: none; } }
  /* line 300, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  header nav.main-navigation.toggled ul.nav-menu {
    float: left;
    color: #333;
    z-index: 100;
    position: fixed;
    top: 76px;
    width: 75%;
    left: 0;
    background: #6e3f2f; }
    @media (min-width: 768px) {
      header nav.main-navigation.toggled ul.nav-menu {
        position: static;
        background: inherit; } }
    /* line 313, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
    header nav.main-navigation.toggled ul.nav-menu li {
      display: block;
      float: none; }
      @media (min-width: 768px) {
        header nav.main-navigation.toggled ul.nav-menu li {
          float: left; } }
  /* line 321, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  header nav.main-navigation.toggled button.menu-toggle {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background: #6e3f2f;
    color: #fff !important;
    display: block;
    float: left; }

/* Search Form in Header */
/* line 336, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
header form {
  float: right;
  color: #333;
  padding: 20px 20px 20px 0; }
  @media (min-width: 768px) {
    header form {
      padding: 10px 0; } }
  /* line 344, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  header form i.fa {
    font-size: 20px; }
  /* line 348, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  header form input[type="submit"]:focus {
    color: #fff; }
  /* line 352, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  header form button[type="submit"] {
    color: #333333 !important;
    background: #cdcf5b;
    padding: 5px; }

/* Site Branding */
/* line 364, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.site-branding {
  margin-top: 20px;
  text-align: center;
  text-transform: lowercase; }
  /* line 369, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  .site-branding a {
    color: #6e3f2f;
    text-decoration: none; }
  /* line 374, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  .site-branding img {
    width: 300px; }
  /* line 377, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  .site-branding .site-description {
    line-height: 20px;
    margin-bottom: 20px;
    color: #6e3f2f;
    font-weight: 300;
    font-size: 22px;
    margin-top: -6px; }

/* Subscribe Block */
/* line 393, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.subscribe {
  background: #ffef97;
  color: #6e3f2f;
  width: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  width: 100%;
  padding: 20px; }
  @media (min-width: 940px) {
    .subscribe .subscribe-content {
      width: 90%;
      margin: auto; } }
  /* line 407, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  .subscribe .subscribe-content i {
    margin-right: 10px; }
  /* line 411, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  .subscribe .subscribe-content p {
    float: left;
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: 0; }

/* line 420, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
p.success.cc_success, .success {
  margin-top: 0 !important;
  color: green;
  font-size: 2em;
  margin-bottom: 0.5em; }

/* Event Banner */
/* line 430, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
#next-event {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #000; }

/* line 439, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
#next-event .event-text {
  display: block;
  background: #000;
  color: #fff;
  width: 100%;
  float: left;
  padding: 20px;
  z-index: 100; }

/* line 449, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
#next-event h1, #next-event h2, #next-event h3, #next-event h4 {
  font-family: "Lato", sans-serif; }

/* line 453, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
h1.event-title {
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: none; }

/* line 459, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
#next-event h3, #next-event h4 {
  display: inline-block; }

/* line 463, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
#next-event h4 {
  text-decoration: underline; }

/* line 467, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
#next-event a.event-img {
  float: none;
  width: 100%;
  display: block;
  height: 100px;
  background: url('event-photo.png') no-repeat top right;
  background-size: cover; }

/* line 479, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
#next-event .event-text {
  display: block;
  background: #000;
  color: #fff;
  width: 400px;
  float: left;
  padding: 20px;
  z-index: 100; }

/* line 489, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
#next-event h1, #next-event h2, #next-event h3, #next-event h4 {
  font-family: "Lato", sans-serif; }

/* line 493, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
h1.event-title {
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: none; }

/* line 499, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
#next-event h3, #next-event h4 {
  display: inline-block; }

/* line 503, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
#next-event h4 {
  text-decoration: underline; }

/* line 507, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
#next-event a.event-img {
  float: right;
  width: 500px;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  background: url('event-photo.png') no-repeat top right;
  background-size: cover; }

/* Features Block */
/* line 522, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
#home-features {
  display: block;
  margin: 20px 0; }
  /* line 526, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  #home-features a.feature-block {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background: #6e3f2f;
    display: block;
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      #home-features a.feature-block {
        width: 32.33333%;
        margin-right: 1%;
        float: left;
        height: 395px; }
        /* line 542, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
        #home-features a.feature-block:last-of-type {
          margin-right: 0; } }
    /* line 547, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
    #home-features a.feature-block .link-text {
      background: #b35400;
      color: #fff;
      padding: 10px 0;
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      margin: 0; }

/* Page Content */
/* line 566, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
#page-content {
  width: 100%;
  float: none;
  border-right: 0;
  padding-right: 0;
  margin-bottom: 2em; }
  @media (min-width: 768px) {
    #page-content {
      width: 65.66667%;
      float: left;
      padding-right: 1%; } }
  @media (min-width: 940px) {
    #page-content {
      padding-right: 20px;
      width: 606.66667px;
      float: left;
      border-right: solid 1px #cdcf5b; } }

@media (min-width: 768px) {
  #sidebar {
    width: 32.33333%;
    float: left;
    padding-left: 1%; } }
@media (min-width: 940px) {
  #sidebar {
    width: 293.33333px;
    padding-left: 20px; } }
/* line 595, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
#sidebar .sidebar-top {
  background: #cdcf5b;
  display: block;
  font-size: 0.9em;
  padding: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px; }
/* line 602, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
#sidebar aside {
  padding-bottom: 1em;
  border-bottom: solid 1px #cdcf5b; }
  /* line 605, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  #sidebar aside:last-child {
    border-bottom: 0; }

/* line 611, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.entry-title a {
  font-size: 40px;
  color: #333333;
  font-weight: bold;
  text-decoration: none; }

/* line 618, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.entry-content {
  margin-top: 10px; }

/* line 622, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.allgoboard {
  clear: both;
  padding-top: 2em; }
  /* line 625, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  .allgoboard p {
    font-style: italic; }
  /* line 627, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  .allgoboard ul {
    margin-left: 0; }
    /* line 629, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
    .allgoboard ul li {
      clear: both;
      margin-left: 0;
      padding-bottom: 2em;
      list-style-type: none; }
      /* line 634, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
      .allgoboard ul li img {
        padding-bottom: 2em; }

/* Sidebar and Secondary */
/* line 647, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
#secondary {
  margin-top: 20px; }
  /* line 649, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  #secondary aside {
    background: #cdcf5b;
    height: 330px;
    display: block;
    font-size: 1.1em;
    padding: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px; }
    @media (min-width: 940px) {
      #secondary aside {
        width: 301px;
        margin-right: 18px !important;
        float: left; }
        /* line 660, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
        #secondary aside:last-child {
          margin-right: 0 !important; } }
    /* line 664, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
    #secondary aside a, #secondary aside a:hover, #secondary aside a:link, #secondary aside a:visited, #secondary aside a:active {
      color: #333333; }
    /* line 667, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
    #secondary aside h3 {
      font-size: 1.3em; }

/* Polls */
/* line 677, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.wp-polls p {
  margin-bottom: 1em; }
/* line 681, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.wp-polls .poll-choices {
  margin-bottom: 1em;
  padding: 4px; }
/* line 686, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.wp-polls .pollbar {
  background: #6e3f2f;
  background-image: none; }

/* Contact Info */
/* line 698, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.contactinfo h2 {
  font-size: 1.5em; }
/* line 699, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
.contactinfo p {
  margin-left: 2em; }

/* FOOTER */
/*Footer*/
/* line 707, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
footer.site-footer {
  margin-top: 2em;
  background: #6e3f2f;
  color: #fff;
  padding: 20px 0 40px; }
  /* line 713, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  footer.site-footer a:link, footer.site-footer footer.site-footer p a:link, footer.site-footer footer.site-footer a:visited, footer.site-footer footer.site-footer p a:visited {
    color: #fff; }
  /* line 717, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
  footer.site-footer .social ul {
    padding: 0;
    margin: 0;
    text-align: right; }
    /* line 722, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
    footer.site-footer .social ul li {
      list-style-type: none;
      float: right; }
      /* line 725, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
      footer.site-footer .social ul li a {
        display: inline-block;
        text-align: right;
        list-style-type: none;
        background-color: #fff;
        color: #6e3f2f;
        width: 50px;
        height: 50px;
        float: left;
        margin: 4px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        border-radius: 50px;
        text-align: center;
        vertical-align: middle; }
        /* line 738, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
        footer.site-footer .social ul li a i {
          font-size: 30px;
          margin-top: 10px; }
        /* line 742, /Users/laura.davila1/Documents/Whole Foods/allgo/allgo.org/sass/style.scss */
        footer.site-footer .social ul li a a:hover {
          background: #cdcf5b; }

@media (min-width: 768px) {
  footer .site-info {
    float: left;
    width: 460px; } }

@media (min-width: 768px) {
  .site-info p {
    margin-bottom: 0; } }

@media (min-width: 768px) {
  footer .social {
    float: right;
    width: 400px; } }


/*# sourceMappingURL=style.css.map */