/**
 * Animation mixin.
 *   @param $time
 *     Duration of animation, .4s for example
 *   @param $properties
 *     list of properties to animate separated by commas. color, opacity, for example.
 */
@mixin animate($time, $properties) {
  animation-timing-function:ease-in-out;
  -webkit-animation-timing-function:ease-in-out;
  -moz-transition: $time;
  -ms-transition: $time;
  -o-transition: $time;
  -webkit-transition: $time;
  transition: $time;
  -webkit-transition-property: $properties;
  -moz-transition-property: $properties;
  -o-transition-property: $properties;
  -ms-transition-property: $properties;
  transition-property: $properties;
}

/**
 * breakpoint mixin
 * Outputs media queries with defined min and max width.
 *   @param $min string or valid css width value
 *     Accepts the following as pre-defined breakpoint: xs, sm, md, lg, xl
 *     Alternatively you can supple an arbitrary min-width value, 480px, for example
 *   @param $max 
 *     Valid CSS width value, 768px or 40em for example
 */
@mixin breakpoint($min: 0, $max: 0) {
  $type: type-of($min);

  @if $type == string {
    @if $min == xs {
      @media (max-width: 480px) { @content; }
    }
    @else if $min == sm {
      @media (min-width: 480px) { @content; }
    }
    @else if $min == md {
      @media (min-width: 768px) { @content; }
    }
    @else if $min == lg {
      @media (min-width: 1024px) { @content; }
    }
    @else if $min == xl {
      @media (min-width: 1220px) { @content; }
    }
    // Otherwise pass a warning to the compiler as to the appropriate options
    @else {
      @warn "The breakpoint mixin supports the following attributes: xs, sm, md, lg, xl";
    }
  }

  @else if $type == number {
    $query: "all" !default;

    @if $min != 0 and $max != 0 {
      $query: "(min-width: #{$min}) and (max-width: #{$max})";
    }
    @else if $min != 0 and $max == 0 {
      $query: "(min-width: #{$min})";
    }
    @else if $min == 0 and $max != 0 {
      $query: "(max-width: #{$max})";
    }
    @media #{$query} {
      @content;
    }
  }
}


//from bjorkoy.com, css grids with sass

$width: 940px;   /* total with of page */
$columns: 12;    /* number of columns */
$col_margin: 10px;  /* margin between columns */

/* math magic */
$col_width: ($width - ($col_margin * ($columns - 1))) / $columns;
$col_total_width: $col_width + $col_margin;  

/* create row div */
@mixin row() {
  float: left;
  clear: both;
  width: $width;
}

/* create a column div */
@mixin col($n: 1) {
  float: left;
  @include span($n);
}

/* make an element span n columns */
@mixin span($n: 1) {
  width: ($n * $col_width) - (($n - 1) * $col_margin);
  @if $n == $columns {
    margin-right: 0;
  } @else {
    margin-right: $col_margin;
  }
}



/* the last column in a row needs this */
@mixin last() {
  margin-right: 0;
}

/* prepend n blank columns  */
@mixin prepend($n: 1) {
  margin-left: $col_total_width * $n
}

/* append n blank columns */
@mixin append($n: 1) {
  margin-right: $col_total_width * $n + $col_margin
}